.cart {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cart h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .Button {
    background-color: #e94838;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Button:hover {
    background-color: #e94838;
  }
  
  .Option {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block; /* Cambiar a inline-block para que se comporte como un botón */
    background-color: #4E1500; /* Asegúrate de usar el color que necesitas */
    text-align: center; /* Centrar texto horizontalmente */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    width: fit-content; /* Tamaño del botón ajustado al contenido */
}

.Option:hover {
    background-color: #ffffff; /* Color de fondo al pasar el mouse */
    color: #4E1500; /* Cambia el color del texto al hacer hover */
}

    