/* Contenedor principal */
.CardContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten a filas */
  gap: 20px; /* Espaciado entre tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  padding: 20px;
  background-color: #752218; /* Color de fondo */
}

/* Tarjeta */
.CardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #4E1500; /* Color de fondo de la tarjeta */
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  flex: 0 1 calc(25% - 40px); /* 4 tarjetas por fila (ajuste automático) */
  max-width: 300px; /* Limitar ancho máximo */
  height: 450px; /* Altura fija */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Evitar desbordamiento */
  text-align: center;
}

/* Imagen */
picture {
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #752218;
}

picture>p{
  color: #ffffff;
}

.ItemImg {
  width: 100%; /* Ajuste al ancho del contenedor */
  min-height: 200px; /* Altura fija */
  height: 200px;
  object-fit: cover; /* Escala la imagen sin deformarla */
  border-radius: 5px;
}

/* Título */
.CardItem h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Información */
.Info {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Botón */
.Option {
  font-size: 16px;
  color: white;
  background-color: #9E4A34;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: auto; /* Envía el botón al final de la tarjeta */
}

.Option:hover {
  background-color: #751100;
}

.contador {
  display: flex;
  flex-direction: column;
}

.count {
  width: 100%;
  text-align: center;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  .CardItem {
    flex: 0 1 calc(33.33% - 40px); /* 3 tarjetas por fila */
  }
}

@media (max-width: 768px) {
  .CardItem {
    flex: 0 1 calc(50% - 40px); /* 2 tarjetas por fila */
  }
}

@media (max-width: 480px) {
  .CardItem {
    flex: 0 1 100%; /* 1 tarjeta por fila */
  }
}

