
/* CartWidget.css */
.CartWidget {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .CartWidget img, i{
    display: block;
    width: 25px;
    height: 25px;
    color: #ffffff;
    margin-right: 5px;
  }

  a:hover>i,
  a:hover>span {
    color: #b32c1d;
    transition: color ease-in-out 0.3s;
  }
  
  .CartWidget span {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 5px;
  }
  