.Container {
    max-height: 70vh; /* Limitar altura del contenedor al 70% de la ventana */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si es necesario */
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    position: fixed;
    top: 30%; /* Ajustar este valor según la altura del navbar */
    left: 30%;
  }
  
  .InfoText {
    font-size: 0.8rem; /* Reducir el tamaño del texto */
    color: #555;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    line-height: 1.4; /* Mejorar la legibilidad del texto */
  }
  
  .Form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaciado entre los elementos del formulario */
  }
  
  .Input {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem; /* Tamaño adecuado para los campos de entrada */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .Button {
    background-color: #752218;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Button:hover {
    background-color: #5e1b14;
  }
  