
.navbar-logo {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.navbar-logo img {
  width: 45px;
  height: 45px;
  margin-right: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo h3 {
  font-size: 20px;
  font-weight: bold;
  color: #666;
}
p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

body {
  background-color: #f0f0f0;
}

.nosotros {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}





