/* Estilos generales */
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #752218;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 0.5rem;
}

.logo-container h3 {
  color: #ffffff; /* Texto en blanco */
  font-size: 1.2rem;
  font-weight: bold;
}

.Categories {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Estilos para los enlaces y el botón */
.Option, .ActiveOption {
  text-decoration: none;
  color: #fcfcfc; /* Color blanco */
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Option:hover {
  background-color: #f0f0f0;
  color: #752218; /* Color principal */
}

.ActiveOption {
  background-color: #ffffff;
  color: #752218;
  border-radius: 5px;
}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content .Option {
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}


