/* Estilo del contenedor principal */
.CardList {
  height: auto;
  display: flex; /* Habilita flexbox */
  flex-wrap: wrap; /* Permite que los items salten a otra fila si no caben */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px; /* Espacio entre tarjetas */
  padding: 20px;
  background-color: #752218;
}

/* Estilo de las tarjetas individuales */
.CardItem {
  flex: 0 1 calc(33.33% - 20px); /* Tarjetas ocupan 1/3 del espacio disponible */
  max-width: 300px; /* Limita el ancho de cada tarjeta */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #F188E7;
  color: #070707;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Adaptación para dispositivos más pequeños */
@media (max-width: 768px) {
  .CardItem {
    flex: 0 1 100%; /* Las tarjetas ocupan todo el ancho disponible */
    margin-bottom: 20px;
  }
}


  
  
  